
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80b'; } /* '' */
.icon-emo-angry:before { content: '\e80c'; } /* '' */
.icon-emo-saint:before { content: '\e80d'; } /* '' */
.icon-emo-cry:before { content: '\e80e'; } /* '' */
.icon-emo-squint:before { content: '\e80f'; } /* '' */
.icon-emo-laugh:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-heart-filled:before { content: '\e812'; } /* '' */
.icon-user-outline:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-picture:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-pin:before { content: '\e81a'; } /* '' */
.icon-home:before { content: '\e81b'; } /* '' */
.icon-info:before { content: '\e81c'; } /* '' */
.icon-tag:before { content: '\e81d'; } /* '' */
.icon-thumbs-up:before { content: '\e81e'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-download:before { content: '\e820'; } /* '' */
.icon-upload:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-pen:before { content: '\e823'; } /* '' */
.icon-chat-alt:before { content: '\e824'; } /* '' */
.icon-cog-outline:before { content: '\e825'; } /* '' */
.icon-gift:before { content: '\e826'; } /* '' */
.icon-users:before { content: '\e827'; } /* '' */
.icon-users-outline:before { content: '\e828'; } /* '' */
.icon-user-add-outline:before { content: '\e829'; } /* '' */
.icon-user-add:before { content: '\e82a'; } /* '' */
.icon-user-delete-outline:before { content: '\e82b'; } /* '' */
.icon-user-delete:before { content: '\e82c'; } /* '' */
.icon-docs:before { content: '\e82d'; } /* '' */
.icon-contacts:before { content: '\e82e'; } /* '' */
.icon-news:before { content: '\e82f'; } /* '' */
.icon-camera-outline:before { content: '\e830'; } /* '' */
.icon-picture-outline:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-ok-outline:before { content: '\e833'; } /* '' */
.icon-cancel-outline:before { content: '\e834'; } /* '' */
.icon-home-outline:before { content: '\e835'; } /* '' */
.icon-info-outline:before { content: '\e836'; } /* '' */
.icon-eye-outline:before { content: '\e837'; } /* '' */
.icon-eye:before { content: '\e838'; } /* '' */
.icon-pencil:before { content: '\e839'; } /* '' */
.icon-edit:before { content: '\e83a'; } /* '' */
.icon-calendar:before { content: '\e83b'; } /* '' */
.icon-calendar-outlilne:before { content: '\e83c'; } /* '' */
.icon-left-open-outline:before { content: '\e83d'; } /* '' */
.icon-left-open:before { content: '\e83e'; } /* '' */
.icon-right-open-outline:before { content: '\e83f'; } /* '' */
.icon-right-open:before { content: '\e840'; } /* '' */
.icon-block:before { content: '\e841'; } /* '' */
.icon-block-outline:before { content: '\e842'; } /* '' */
.icon-cw-outline:before { content: '\e843'; } /* '' */
.icon-cw:before { content: '\e844'; } /* '' */
.icon-check-outline:before { content: '\e845'; } /* '' */
.icon-check:before { content: '\e846'; } /* '' */
.icon-plane-outline:before { content: '\e847'; } /* '' */
.icon-plane:before { content: '\e848'; } /* '' */
.icon-key-outline:before { content: '\e849'; } /* '' */
.icon-key:before { content: '\e84a'; } /* '' */
.icon-chart-pie:before { content: '\e84b'; } /* '' */
.icon-chart-pie-outline:before { content: '\e84c'; } /* '' */
.icon-chart-bar:before { content: '\e84d'; } /* '' */
.icon-chart-bar-outline:before { content: '\e84e'; } /* '' */
.icon-chart-alt:before { content: '\e84f'; } /* '' */
.icon-chart-alt-outline:before { content: '\e850'; } /* '' */
.icon-chart-outline:before { content: '\e851'; } /* '' */
.icon-chart:before { content: '\e852'; } /* '' */
.icon-coffee:before { content: '\e853'; } /* '' */
.icon-beer:before { content: '\e854'; } /* '' */
.icon-puzzle-outline:before { content: '\e855'; } /* '' */
.icon-puzzle:before { content: '\e856'; } /* '' */
.icon-at:before { content: '\e857'; } /* '' */
.icon-at-circled:before { content: '\e858'; } /* '' */
.icon-search-1:before { content: '\e859'; } /* '' */
.icon-comment:before { content: '\e85a'; } /* '' */